user_uuid="7a0962e5-d762-464d-95b6-015976eee6b9"
bucket_name="qiqyldmlaz4owocu9eoq8btgiwdpm6l2"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=1
